html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.card-content h4 {
  word-wrap: break-word;
}

.card .card-action {
  padding: 50px;
}

img {
  width: 600px;
  height: 600px;
}

#menu-item, #menu-profile, #my-documents, #manage-users {
  display: inline-flex;
}

.card-title {
  padding: 10px;
}

#self {
  display: inline-flex; 
}

#my-profile {
  height: 400px;
  display: inline-flex;
}

.landing-page {
  height: 85vh;
  background-image: url('../images/documentImage.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 60px;
  width: 100%;

  .landing-page-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h3, h4 { color: #fff }
  }
}